body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #f9f9f9;
}

.receipt-container {
	width: 60%;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.logo {
	width: 100px;
	height: 100px;
	margin-right: 20px;
}

.logo img {
	width: 100%;
	height:100%;
	object-fit: cover;
	border-radius: 50%;
}

.company-info {
	margin-left: 20px;
}

.company-info h2 {
	margin-top: 0;
}

.receipt-info {
	margin-bottom: 20px;
}

.receipt-info h2 {
	margin-top: 0;
}

.payment-method {
	margin-bottom: 20px;
}

.payment-method h2 {
	margin-top: 0;
}

.payment-method ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.payment-method li {
	margin-bottom: 10px;
}

.payment-method input[type="checkbox"] {
	margin-right: 10px;
}

.due {
	margin-bottom: 20px;
}

.due h2 {
	margin-top: 0;
}

.footer {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	text-align: center;
}

.footer p {
	margin-bottom: 10px;
}

.footer p:last-child {
	margin-bottom: 0;
}